$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?e4f1c4ced46dda345790a55b8f6d65be") format("truetype"),
url("./flaticon.woff?e4f1c4ced46dda345790a55b8f6d65be") format("woff"),
url("./flaticon.woff2?e4f1c4ced46dda345790a55b8f6d65be") format("woff2"),
url("./flaticon.eot?e4f1c4ced46dda345790a55b8f6d65be#iefix") format("embedded-opentype"),
url("./flaticon.svg?e4f1c4ced46dda345790a55b8f6d65be#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "1001": "\f101",
    "10x10": "\f102",
    "1player": "\f103",
    "2d": "\f104",
    "2player": "\f105",
    "3d": "\f106",
    "accessories": "\f107",
    "action": "\f108",
    "addicting": "\f109",
    "adventure": "\f10a",
    "aim": "\f10b",
    "air-hockey": "\f10c",
    "alien": "\f10d",
    "ambulance": "\f10e",
    "american": "\f10f",
    "animal": "\f110",
    "anime": "\f111",
    "arcade": "\f112",
    "archery": "\f113",
    "army": "\f114",
    "art": "\f115",
    "asteroids": "\f116",
    "autumn": "\f117",
    "avatar": "\f118",
    "award": "\f119",
    "baby": "\f11a",
    "baking": "\f11b",
    "ball": "\f11c",
    "balloon": "\f11d",
    "bar": "\f11e",
    "baseball": "\f11f",
    "basketball": "\f120",
    "battle": "\f121",
    "bedroom": "\f122",
    "billiards": "\f123",
    "bingo": "\f124",
    "bird": "\f125",
    "birthday": "\f126",
    "blood": "\f127",
    "board": "\f128",
    "boardcard": "\f129",
    "boat": "\f12a",
    "bomb": "\f12b",
    "bowling": "\f12c",
    "boxing": "\f12d",
    "boy": "\f12e",
    "brain": "\f12f",
    "bridge": "\f130",
    "browser": "\f131",
    "bubble": "\f132",
    "building": "\f133",
    "bullet": "\f134",
    "bunny": "\f135",
    "bus": "\f136",
    "business": "\f137",
    "cafe": "\f138",
    "cake": "\f139",
    "candy": "\f13a",
    "cannon": "\f13b",
    "car": "\f13c",
    "carebears": "\f13d",
    "caring": "\f13e",
    "cartoon": "\f13f",
    "casino": "\f140",
    "castle": "\f141",
    "casual": "\f142",
    "cat": "\f143",
    "cave": "\f144",
    "celebrity": "\f145",
    "chain": "\f146",
    "checkers": "\f147",
    "cheese": "\f148",
    "chess": "\f149",
    "chicken": "\f14a",
    "chinese": "\f14b",
    "christmas": "\f14c",
    "circus": "\f14d",
    "city": "\f14e",
    "classic": "\f14f",
    "cleaning": "\f150",
    "clicking": "\f151",
    "clothes": "\f152",
    "coloredblocks": "\f153",
    "coloring": "\f154",
    "concentration": "\f155",
    "connect": "\f156",
    "cooking": "\f157",
    "couple": "\f158",
    "craft": "\f159",
    "crash": "\f15a",
    "crazy": "\f15b",
    "creation": "\f15c",
    "cricket": "\f15d",
    "crime": "\f15e",
    "crossword": "\f15f",
    "crown": "\f160",
    "cupcake": "\f161",
    "cut": "\f162",
    "cycling": "\f163",
    "dance": "\f164",
    "darts": "\f165",
    "dating": "\f166",
    "decorating": "\f167",
    "dentist": "\f168",
    "dinosaur": "\f169",
    "doctor": "\f16a",
    "dodgeball": "\f16b",
    "dog": "\f16c",
    "doll": "\f16d",
    "dollhouse": "\f16e",
    "dolphin": "\f16f",
    "dominoes": "\f170",
    "dragon": "\f171",
    "drawing": "\f172",
    "dress": "\f173",
    "drifting": "\f174",
    "driving": "\f175",
    "drum": "\f176",
    "duck": "\f177",
    "easter": "\f178",
    "easy": "\f179",
    "educational": "\f17a",
    "elevator": "\f17b",
    "emmas": "\f17c",
    "emoji": "\f17d",
    "empire": "\f17e",
    "escaping": "\f17f",
    "fairy": "\f180",
    "fancy": "\f181",
    "farm": "\f182",
    "fashion": "\f183",
    "fighting": "\f184",
    "fire": "\f185",
    "fish": "\f186",
    "fishing": "\f187",
    "flash": "\f188",
    "flight": "\f189",
    "flip": "\f18a",
    "flirting": "\f18b",
    "flower": "\f18c",
    "flying": "\f18d",
    "food": "\f18e",
    "foosball": "\f18f",
    "football": "\f190",
    "footballmanagement": "\f191",
    "fps": "\f192",
    "fruit": "\f193",
    "fun": "\f194",
    "games": "\f195",
    "garden": "\f196",
    "girls": "\f197",
    "golf": "\f198",
    "guitar": "\f199",
    "gun": "\f19a",
    "hair": "\f19b",
    "hamster": "\f19c",
    "helicopter": "\f19d",
    "helix": "\f19e",
    "highscore": "\f19f",
    "horse": "\f1a0",
    "hospital": "\f1a1",
    "hotel": "\f1a2",
    "house": "\f1a3",
    "html5": "\f1a4",
    "hunting": "\f1a5",
    "jewel": "\f1a6",
    "jumping": "\f1a7",
    "kissing": "\f1a8",
    "kitchen": "\f1a9",
    "lineracing": "\f1aa",
    "logic": "\f1ab",
    "love": "\f1ac",
    "magic": "\f1ad",
    "mahjong": "\f1ae",
    "makeover": "\f1af",
    "math": "\f1b0",
    "memo": "\f1b1",
    "mobile": "\f1b2",
    "motocross": "\f1b3",
    "multiplayer": "\f1b4",
    "music": "\f1b5",
    "mystery": "\f1b6",
    "nail": "\f1b7",
    "offroad": "\f1b8",
    "paintball": "\f1b9",
    "panda": "\f1ba",
    "parking": "\f1bb",
    "party": "\f1bc",
    "physics": "\f1bd",
    "piano": "\f1be",
    "pig": "\f1bf",
    "pinball": "\f1c0",
    "pirate": "\f1c1",
    "pixel": "\f1c2",
    "pizza": "\f1c3",
    "platform": "\f1c4",
    "police": "\f1c5",
    "premium": "\f1c6",
    "puppy": "\f1c7",
    "puzzle": "\f1c8",
    "quiz": "\f1c9",
    "racing": "\f1ca",
    "restaurant": "\f1cb",
    "robot": "\f1cc",
    "roller": "\f1cd",
    "room": "\f1ce",
    "scary": "\f1cf",
    "school": "\f1d0",
    "shop": "\f1d1",
    "snail": "\f1d2",
    "soccer": "\f1d3",
    "social": "\f1d4",
    "spa": "\f1d5",
    "space": "\f1d6",
    "spelling": "\f1d7",
    "sportoutfit": "\f1d8",
    "stickman": "\f1d9",
    "sudoku": "\f1da",
    "summer": "\f1db",
    "superhero": "\f1dc",
    "surfing": "\f1dd",
    "surgery": "\f1de",
    "survival": "\f1df",
    "sushi": "\f1e0",
    "tank": "\f1e1",
    "tattoo": "\f1e2",
    "taxi": "\f1e3",
    "tennis": "\f1e4",
    "thanksgiving": "\f1e5",
    "time": "\f1e6",
    "top100": "\f1e7",
    "typing": "\f1e8",
    "unicorn": "\f1e9",
    "upgrade": "\f1ea",
    "valentines": "\f1eb",
    "vampire": "\f1ec",
    "vet": "\f1ed",
    "videos": "\f1ee",
    "volleyball": "\f1ef",
    "voodoo": "\f1f0",
    "war": "\f1f1",
    "warrior": "\f1f2",
    "water": "\f1f3",
    "wedding": "\f1f4",
    "weird": "\f1f5",
    "what": "\f1f6",
    "winter": "\f1f7",
    "witch": "\f1f8",
    "world": "\f1f9",
    "worm": "\f1fa",
    "wreck": "\f1fb",
    "wrestling": "\f1fc",
    "zombie": "\f1fd",
    "zoo": "\f1fe",
);

.flaticon-1001:before {
    content: map-get($flaticon-map, "1001");
}
.flaticon-10x10:before {
    content: map-get($flaticon-map, "10x10");
}
.flaticon-1player:before {
    content: map-get($flaticon-map, "1player");
}
.flaticon-2d:before {
    content: map-get($flaticon-map, "2d");
}
.flaticon-2player:before {
    content: map-get($flaticon-map, "2player");
}
.flaticon-3d:before {
    content: map-get($flaticon-map, "3d");
}
.flaticon-accessories:before {
    content: map-get($flaticon-map, "accessories");
}
.flaticon-action:before {
    content: map-get($flaticon-map, "action");
}
.flaticon-addicting:before {
    content: map-get($flaticon-map, "addicting");
}
.flaticon-adventure:before {
    content: map-get($flaticon-map, "adventure");
}
.flaticon-aim:before {
    content: map-get($flaticon-map, "aim");
}
.flaticon-air-hockey:before {
    content: map-get($flaticon-map, "air-hockey");
}
.flaticon-alien:before {
    content: map-get($flaticon-map, "alien");
}
.flaticon-ambulance:before {
    content: map-get($flaticon-map, "ambulance");
}
.flaticon-american:before {
    content: map-get($flaticon-map, "american");
}
.flaticon-animal:before {
    content: map-get($flaticon-map, "animal");
}
.flaticon-anime:before {
    content: map-get($flaticon-map, "anime");
}
.flaticon-arcade:before {
    content: map-get($flaticon-map, "arcade");
}
.flaticon-archery:before {
    content: map-get($flaticon-map, "archery");
}
.flaticon-army:before {
    content: map-get($flaticon-map, "army");
}
.flaticon-art:before {
    content: map-get($flaticon-map, "art");
}
.flaticon-asteroids:before {
    content: map-get($flaticon-map, "asteroids");
}
.flaticon-autumn:before {
    content: map-get($flaticon-map, "autumn");
}
.flaticon-avatar:before {
    content: map-get($flaticon-map, "avatar");
}
.flaticon-award:before {
    content: map-get($flaticon-map, "award");
}
.flaticon-baby:before {
    content: map-get($flaticon-map, "baby");
}
.flaticon-baking:before {
    content: map-get($flaticon-map, "baking");
}
.flaticon-ball:before {
    content: map-get($flaticon-map, "ball");
}
.flaticon-balloon:before {
    content: map-get($flaticon-map, "balloon");
}
.flaticon-bar:before {
    content: map-get($flaticon-map, "bar");
}
.flaticon-baseball:before {
    content: map-get($flaticon-map, "baseball");
}
.flaticon-basketball:before {
    content: map-get($flaticon-map, "basketball");
}
.flaticon-battle:before {
    content: map-get($flaticon-map, "battle");
}
.flaticon-bedroom:before {
    content: map-get($flaticon-map, "bedroom");
}
.flaticon-billiards:before {
    content: map-get($flaticon-map, "billiards");
}
.flaticon-bingo:before {
    content: map-get($flaticon-map, "bingo");
}
.flaticon-bird:before {
    content: map-get($flaticon-map, "bird");
}
.flaticon-birthday:before {
    content: map-get($flaticon-map, "birthday");
}
.flaticon-blood:before {
    content: map-get($flaticon-map, "blood");
}
.flaticon-board:before {
    content: map-get($flaticon-map, "board");
}
.flaticon-boardcard:before {
    content: map-get($flaticon-map, "boardcard");
}
.flaticon-boat:before {
    content: map-get($flaticon-map, "boat");
}
.flaticon-bomb:before {
    content: map-get($flaticon-map, "bomb");
}
.flaticon-bowling:before {
    content: map-get($flaticon-map, "bowling");
}
.flaticon-boxing:before {
    content: map-get($flaticon-map, "boxing");
}
.flaticon-boy:before {
    content: map-get($flaticon-map, "boy");
}
.flaticon-brain:before {
    content: map-get($flaticon-map, "brain");
}
.flaticon-bridge:before {
    content: map-get($flaticon-map, "bridge");
}
.flaticon-browser:before {
    content: map-get($flaticon-map, "browser");
}
.flaticon-bubble:before {
    content: map-get($flaticon-map, "bubble");
}
.flaticon-building:before {
    content: map-get($flaticon-map, "building");
}
.flaticon-bullet:before {
    content: map-get($flaticon-map, "bullet");
}
.flaticon-bunny:before {
    content: map-get($flaticon-map, "bunny");
}
.flaticon-bus:before {
    content: map-get($flaticon-map, "bus");
}
.flaticon-business:before {
    content: map-get($flaticon-map, "business");
}
.flaticon-cafe:before {
    content: map-get($flaticon-map, "cafe");
}
.flaticon-cake:before {
    content: map-get($flaticon-map, "cake");
}
.flaticon-candy:before {
    content: map-get($flaticon-map, "candy");
}
.flaticon-cannon:before {
    content: map-get($flaticon-map, "cannon");
}
.flaticon-car:before {
    content: map-get($flaticon-map, "car");
}
.flaticon-carebears:before {
    content: map-get($flaticon-map, "carebears");
}
.flaticon-caring:before {
    content: map-get($flaticon-map, "caring");
}
.flaticon-cartoon:before {
    content: map-get($flaticon-map, "cartoon");
}
.flaticon-casino:before {
    content: map-get($flaticon-map, "casino");
}
.flaticon-castle:before {
    content: map-get($flaticon-map, "castle");
}
.flaticon-casual:before {
    content: map-get($flaticon-map, "casual");
}
.flaticon-cat:before {
    content: map-get($flaticon-map, "cat");
}
.flaticon-cave:before {
    content: map-get($flaticon-map, "cave");
}
.flaticon-celebrity:before {
    content: map-get($flaticon-map, "celebrity");
}
.flaticon-chain:before {
    content: map-get($flaticon-map, "chain");
}
.flaticon-checkers:before {
    content: map-get($flaticon-map, "checkers");
}
.flaticon-cheese:before {
    content: map-get($flaticon-map, "cheese");
}
.flaticon-chess:before {
    content: map-get($flaticon-map, "chess");
}
.flaticon-chicken:before {
    content: map-get($flaticon-map, "chicken");
}
.flaticon-chinese:before {
    content: map-get($flaticon-map, "chinese");
}
.flaticon-christmas:before {
    content: map-get($flaticon-map, "christmas");
}
.flaticon-circus:before {
    content: map-get($flaticon-map, "circus");
}
.flaticon-city:before {
    content: map-get($flaticon-map, "city");
}
.flaticon-classic:before {
    content: map-get($flaticon-map, "classic");
}
.flaticon-cleaning:before {
    content: map-get($flaticon-map, "cleaning");
}
.flaticon-clicking:before {
    content: map-get($flaticon-map, "clicking");
}
.flaticon-clothes:before {
    content: map-get($flaticon-map, "clothes");
}
.flaticon-coloredblocks:before {
    content: map-get($flaticon-map, "coloredblocks");
}
.flaticon-coloring:before {
    content: map-get($flaticon-map, "coloring");
}
.flaticon-concentration:before {
    content: map-get($flaticon-map, "concentration");
}
.flaticon-connect:before {
    content: map-get($flaticon-map, "connect");
}
.flaticon-cooking:before {
    content: map-get($flaticon-map, "cooking");
}
.flaticon-couple:before {
    content: map-get($flaticon-map, "couple");
}
.flaticon-craft:before {
    content: map-get($flaticon-map, "craft");
}
.flaticon-crash:before {
    content: map-get($flaticon-map, "crash");
}
.flaticon-crazy:before {
    content: map-get($flaticon-map, "crazy");
}
.flaticon-creation:before {
    content: map-get($flaticon-map, "creation");
}
.flaticon-cricket:before {
    content: map-get($flaticon-map, "cricket");
}
.flaticon-crime:before {
    content: map-get($flaticon-map, "crime");
}
.flaticon-crossword:before {
    content: map-get($flaticon-map, "crossword");
}
.flaticon-crown:before {
    content: map-get($flaticon-map, "crown");
}
.flaticon-cupcake:before {
    content: map-get($flaticon-map, "cupcake");
}
.flaticon-cut:before {
    content: map-get($flaticon-map, "cut");
}
.flaticon-cycling:before {
    content: map-get($flaticon-map, "cycling");
}
.flaticon-dance:before {
    content: map-get($flaticon-map, "dance");
}
.flaticon-darts:before {
    content: map-get($flaticon-map, "darts");
}
.flaticon-dating:before {
    content: map-get($flaticon-map, "dating");
}
.flaticon-decorating:before {
    content: map-get($flaticon-map, "decorating");
}
.flaticon-dentist:before {
    content: map-get($flaticon-map, "dentist");
}
.flaticon-dinosaur:before {
    content: map-get($flaticon-map, "dinosaur");
}
.flaticon-doctor:before {
    content: map-get($flaticon-map, "doctor");
}
.flaticon-dodgeball:before {
    content: map-get($flaticon-map, "dodgeball");
}
.flaticon-dog:before {
    content: map-get($flaticon-map, "dog");
}
.flaticon-doll:before {
    content: map-get($flaticon-map, "doll");
}
.flaticon-dollhouse:before {
    content: map-get($flaticon-map, "dollhouse");
}
.flaticon-dolphin:before {
    content: map-get($flaticon-map, "dolphin");
}
.flaticon-dominoes:before {
    content: map-get($flaticon-map, "dominoes");
}
.flaticon-dragon:before {
    content: map-get($flaticon-map, "dragon");
}
.flaticon-drawing:before {
    content: map-get($flaticon-map, "drawing");
}
.flaticon-dress:before {
    content: map-get($flaticon-map, "dress");
}
.flaticon-drifting:before {
    content: map-get($flaticon-map, "drifting");
}
.flaticon-driving:before {
    content: map-get($flaticon-map, "driving");
}
.flaticon-drum:before {
    content: map-get($flaticon-map, "drum");
}
.flaticon-duck:before {
    content: map-get($flaticon-map, "duck");
}
.flaticon-easter:before {
    content: map-get($flaticon-map, "easter");
}
.flaticon-easy:before {
    content: map-get($flaticon-map, "easy");
}
.flaticon-educational:before {
    content: map-get($flaticon-map, "educational");
}
.flaticon-elevator:before {
    content: map-get($flaticon-map, "elevator");
}
.flaticon-emmas:before {
    content: map-get($flaticon-map, "emmas");
}
.flaticon-emoji:before {
    content: map-get($flaticon-map, "emoji");
}
.flaticon-empire:before {
    content: map-get($flaticon-map, "empire");
}
.flaticon-escaping:before {
    content: map-get($flaticon-map, "escaping");
}
.flaticon-fairy:before {
    content: map-get($flaticon-map, "fairy");
}
.flaticon-fancy:before {
    content: map-get($flaticon-map, "fancy");
}
.flaticon-farm:before {
    content: map-get($flaticon-map, "farm");
}
.flaticon-fashion:before {
    content: map-get($flaticon-map, "fashion");
}
.flaticon-fighting:before {
    content: map-get($flaticon-map, "fighting");
}
.flaticon-fire:before {
    content: map-get($flaticon-map, "fire");
}
.flaticon-fish:before {
    content: map-get($flaticon-map, "fish");
}
.flaticon-fishing:before {
    content: map-get($flaticon-map, "fishing");
}
.flaticon-flash:before {
    content: map-get($flaticon-map, "flash");
}
.flaticon-flight:before {
    content: map-get($flaticon-map, "flight");
}
.flaticon-flip:before {
    content: map-get($flaticon-map, "flip");
}
.flaticon-flirting:before {
    content: map-get($flaticon-map, "flirting");
}
.flaticon-flower:before {
    content: map-get($flaticon-map, "flower");
}
.flaticon-flying:before {
    content: map-get($flaticon-map, "flying");
}
.flaticon-food:before {
    content: map-get($flaticon-map, "food");
}
.flaticon-foosball:before {
    content: map-get($flaticon-map, "foosball");
}
.flaticon-football:before {
    content: map-get($flaticon-map, "football");
}
.flaticon-footballmanagement:before {
    content: map-get($flaticon-map, "footballmanagement");
}
.flaticon-fps:before {
    content: map-get($flaticon-map, "fps");
}
.flaticon-fruit:before {
    content: map-get($flaticon-map, "fruit");
}
.flaticon-fun:before {
    content: map-get($flaticon-map, "fun");
}
.flaticon-games:before {
    content: map-get($flaticon-map, "games");
}
.flaticon-garden:before {
    content: map-get($flaticon-map, "garden");
}
.flaticon-girls:before {
    content: map-get($flaticon-map, "girls");
}
.flaticon-golf:before {
    content: map-get($flaticon-map, "golf");
}
.flaticon-guitar:before {
    content: map-get($flaticon-map, "guitar");
}
.flaticon-gun:before {
    content: map-get($flaticon-map, "gun");
}
.flaticon-hair:before {
    content: map-get($flaticon-map, "hair");
}
.flaticon-hamster:before {
    content: map-get($flaticon-map, "hamster");
}
.flaticon-helicopter:before {
    content: map-get($flaticon-map, "helicopter");
}
.flaticon-helix:before {
    content: map-get($flaticon-map, "helix");
}
.flaticon-highscore:before {
    content: map-get($flaticon-map, "highscore");
}
.flaticon-horse:before {
    content: map-get($flaticon-map, "horse");
}
.flaticon-hospital:before {
    content: map-get($flaticon-map, "hospital");
}
.flaticon-hotel:before {
    content: map-get($flaticon-map, "hotel");
}
.flaticon-house:before {
    content: map-get($flaticon-map, "house");
}
.flaticon-html5:before {
    content: map-get($flaticon-map, "html5");
}
.flaticon-hunting:before {
    content: map-get($flaticon-map, "hunting");
}
.flaticon-jewel:before {
    content: map-get($flaticon-map, "jewel");
}
.flaticon-jumping:before {
    content: map-get($flaticon-map, "jumping");
}
.flaticon-kissing:before {
    content: map-get($flaticon-map, "kissing");
}
.flaticon-kitchen:before {
    content: map-get($flaticon-map, "kitchen");
}
.flaticon-lineracing:before {
    content: map-get($flaticon-map, "lineracing");
}
.flaticon-logic:before {
    content: map-get($flaticon-map, "logic");
}
.flaticon-love:before {
    content: map-get($flaticon-map, "love");
}
.flaticon-magic:before {
    content: map-get($flaticon-map, "magic");
}
.flaticon-mahjong:before {
    content: map-get($flaticon-map, "mahjong");
}
.flaticon-makeover:before {
    content: map-get($flaticon-map, "makeover");
}
.flaticon-math:before {
    content: map-get($flaticon-map, "math");
}
.flaticon-memo:before {
    content: map-get($flaticon-map, "memo");
}
.flaticon-mobile:before {
    content: map-get($flaticon-map, "mobile");
}
.flaticon-motocross:before {
    content: map-get($flaticon-map, "motocross");
}
.flaticon-multiplayer:before {
    content: map-get($flaticon-map, "multiplayer");
}
.flaticon-music:before {
    content: map-get($flaticon-map, "music");
}
.flaticon-mystery:before {
    content: map-get($flaticon-map, "mystery");
}
.flaticon-nail:before {
    content: map-get($flaticon-map, "nail");
}
.flaticon-offroad:before {
    content: map-get($flaticon-map, "offroad");
}
.flaticon-paintball:before {
    content: map-get($flaticon-map, "paintball");
}
.flaticon-panda:before {
    content: map-get($flaticon-map, "panda");
}
.flaticon-parking:before {
    content: map-get($flaticon-map, "parking");
}
.flaticon-party:before {
    content: map-get($flaticon-map, "party");
}
.flaticon-physics:before {
    content: map-get($flaticon-map, "physics");
}
.flaticon-piano:before {
    content: map-get($flaticon-map, "piano");
}
.flaticon-pig:before {
    content: map-get($flaticon-map, "pig");
}
.flaticon-pinball:before {
    content: map-get($flaticon-map, "pinball");
}
.flaticon-pirate:before {
    content: map-get($flaticon-map, "pirate");
}
.flaticon-pixel:before {
    content: map-get($flaticon-map, "pixel");
}
.flaticon-pizza:before {
    content: map-get($flaticon-map, "pizza");
}
.flaticon-platform:before {
    content: map-get($flaticon-map, "platform");
}
.flaticon-police:before {
    content: map-get($flaticon-map, "police");
}
.flaticon-premium:before {
    content: map-get($flaticon-map, "premium");
}
.flaticon-puppy:before {
    content: map-get($flaticon-map, "puppy");
}
.flaticon-puzzle:before {
    content: map-get($flaticon-map, "puzzle");
}
.flaticon-quiz:before {
    content: map-get($flaticon-map, "quiz");
}
.flaticon-racing:before {
    content: map-get($flaticon-map, "racing");
}
.flaticon-restaurant:before {
    content: map-get($flaticon-map, "restaurant");
}
.flaticon-robot:before {
    content: map-get($flaticon-map, "robot");
}
.flaticon-roller:before {
    content: map-get($flaticon-map, "roller");
}
.flaticon-room:before {
    content: map-get($flaticon-map, "room");
}
.flaticon-scary:before {
    content: map-get($flaticon-map, "scary");
}
.flaticon-school:before {
    content: map-get($flaticon-map, "school");
}
.flaticon-shop:before {
    content: map-get($flaticon-map, "shop");
}
.flaticon-snail:before {
    content: map-get($flaticon-map, "snail");
}
.flaticon-soccer:before {
    content: map-get($flaticon-map, "soccer");
}
.flaticon-social:before {
    content: map-get($flaticon-map, "social");
}
.flaticon-spa:before {
    content: map-get($flaticon-map, "spa");
}
.flaticon-space:before {
    content: map-get($flaticon-map, "space");
}
.flaticon-spelling:before {
    content: map-get($flaticon-map, "spelling");
}
.flaticon-sportoutfit:before {
    content: map-get($flaticon-map, "sportoutfit");
}
.flaticon-stickman:before {
    content: map-get($flaticon-map, "stickman");
}
.flaticon-sudoku:before {
    content: map-get($flaticon-map, "sudoku");
}
.flaticon-summer:before {
    content: map-get($flaticon-map, "summer");
}
.flaticon-superhero:before {
    content: map-get($flaticon-map, "superhero");
}
.flaticon-surfing:before {
    content: map-get($flaticon-map, "surfing");
}
.flaticon-surgery:before {
    content: map-get($flaticon-map, "surgery");
}
.flaticon-survival:before {
    content: map-get($flaticon-map, "survival");
}
.flaticon-sushi:before {
    content: map-get($flaticon-map, "sushi");
}
.flaticon-tank:before {
    content: map-get($flaticon-map, "tank");
}
.flaticon-tattoo:before {
    content: map-get($flaticon-map, "tattoo");
}
.flaticon-taxi:before {
    content: map-get($flaticon-map, "taxi");
}
.flaticon-tennis:before {
    content: map-get($flaticon-map, "tennis");
}
.flaticon-thanksgiving:before {
    content: map-get($flaticon-map, "thanksgiving");
}
.flaticon-time:before {
    content: map-get($flaticon-map, "time");
}
.flaticon-top100:before {
    content: map-get($flaticon-map, "top100");
}
.flaticon-typing:before {
    content: map-get($flaticon-map, "typing");
}
.flaticon-unicorn:before {
    content: map-get($flaticon-map, "unicorn");
}
.flaticon-upgrade:before {
    content: map-get($flaticon-map, "upgrade");
}
.flaticon-valentines:before {
    content: map-get($flaticon-map, "valentines");
}
.flaticon-vampire:before {
    content: map-get($flaticon-map, "vampire");
}
.flaticon-vet:before {
    content: map-get($flaticon-map, "vet");
}
.flaticon-videos:before {
    content: map-get($flaticon-map, "videos");
}
.flaticon-volleyball:before {
    content: map-get($flaticon-map, "volleyball");
}
.flaticon-voodoo:before {
    content: map-get($flaticon-map, "voodoo");
}
.flaticon-war:before {
    content: map-get($flaticon-map, "war");
}
.flaticon-warrior:before {
    content: map-get($flaticon-map, "warrior");
}
.flaticon-water:before {
    content: map-get($flaticon-map, "water");
}
.flaticon-wedding:before {
    content: map-get($flaticon-map, "wedding");
}
.flaticon-weird:before {
    content: map-get($flaticon-map, "weird");
}
.flaticon-what:before {
    content: map-get($flaticon-map, "what");
}
.flaticon-winter:before {
    content: map-get($flaticon-map, "winter");
}
.flaticon-witch:before {
    content: map-get($flaticon-map, "witch");
}
.flaticon-world:before {
    content: map-get($flaticon-map, "world");
}
.flaticon-worm:before {
    content: map-get($flaticon-map, "worm");
}
.flaticon-wreck:before {
    content: map-get($flaticon-map, "wreck");
}
.flaticon-wrestling:before {
    content: map-get($flaticon-map, "wrestling");
}
.flaticon-zombie:before {
    content: map-get($flaticon-map, "zombie");
}
.flaticon-zoo:before {
    content: map-get($flaticon-map, "zoo");
}
