$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?6ada69a186ec3b5927a34ae80d48d7f9") format("truetype"),
url("./flaticon.woff?6ada69a186ec3b5927a34ae80d48d7f9") format("woff"),
url("./flaticon.woff2?6ada69a186ec3b5927a34ae80d48d7f9") format("woff2"),
url("./flaticon.eot?6ada69a186ec3b5927a34ae80d48d7f9#iefix") format("embedded-opentype"),
url("./flaticon.svg?6ada69a186ec3b5927a34ae80d48d7f9#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "1001": "\f101",
    "10x10": "\f102",
    "2d": "\f103",
    "2player": "\f104",
    "3d": "\f105",
    "accessories": "\f106",
    "action": "\f107",
    "addicting": "\f108",
    "adventure": "\f109",
    "aim": "\f10a",
    "air-hockey": "\f10b",
    "alien": "\f10c",
    "ambulance": "\f10d",
    "american": "\f10e",
    "animal": "\f10f",
    "anime": "\f110",
    "arcade": "\f111",
    "archery": "\f112",
    "army": "\f113",
    "art": "\f114",
    "asteroids": "\f115",
    "avatar": "\f116",
    "award": "\f117",
    "baby": "\f118",
    "baking": "\f119",
    "ball": "\f11a",
    "balloon": "\f11b",
    "bar": "\f11c",
    "baseball": "\f11d",
    "basketball": "\f11e",
    "battle": "\f11f",
    "bedroom": "\f120",
    "billiards": "\f121",
    "bird": "\f122",
    "blood": "\f123",
    "board": "\f124",
    "boardcard": "\f125",
    "boat": "\f126",
    "bomb": "\f127",
    "bowling": "\f128",
    "boxing": "\f129",
    "boy": "\f12a",
    "brain": "\f12b",
    "bridge": "\f12c",
    "browser": "\f12d",
    "bubble": "\f12e",
    "building": "\f12f",
    "bullet": "\f130",
    "bunny": "\f131",
    "business": "\f132",
    "cafe": "\f133",
    "cake": "\f134",
    "candy": "\f135",
    "cannon": "\f136",
    "car": "\f137",
    "carebears": "\f138",
    "caring": "\f139",
    "cartoon": "\f13a",
    "casino": "\f13b",
    "casual": "\f13c",
    "cat": "\f13d",
    "chain": "\f13e",
    "chicken": "\f13f",
    "christmas": "\f140",
    "circus": "\f141",
    "classic": "\f142",
    "cleaning": "\f143",
    "clicking": "\f144",
    "clothes": "\f145",
    "coloredblocks": "\f146",
    "coloring": "\f147",
    "concentration": "\f148",
    "connect": "\f149",
    "cooking": "\f14a",
    "couple": "\f14b",
    "craft": "\f14c",
    "crash": "\f14d",
    "crazy": "\f14e",
    "cupcake": "\f14f",
    "cycling": "\f150",
    "dance": "\f151",
    "darts": "\f152",
    "dating": "\f153",
    "decorating": "\f154",
    "dentist": "\f155",
    "doctor": "\f156",
    "dog": "\f157",
    "doll": "\f158",
    "dollhouse": "\f159",
    "dolphin": "\f15a",
    "dragon": "\f15b",
    "drawing": "\f15c",
    "dress": "\f15d",
    "drifting": "\f15e",
    "driving": "\f15f",
    "easy": "\f160",
    "educational": "\f161",
    "emmas": "\f162",
    "escaping": "\f163",
    "farm": "\f164",
    "fashion": "\f165",
    "fighting": "\f166",
    "fish": "\f167",
    "fishing": "\f168",
    "flash": "\f169",
    "flight": "\f16a",
    "flip": "\f16b",
    "flirting": "\f16c",
    "flower": "\f16d",
    "flying": "\f16e",
    "food": "\f16f",
    "footballmanagement": "\f170",
    "fps": "\f171",
    "fruit": "\f172",
    "fun": "\f173",
    "games": "\f174",
    "garden": "\f175",
    "girls": "\f176",
    "golf": "\f177",
    "guitar": "\f178",
    "gun": "\f179",
    "hair": "\f17a",
    "hamster": "\f17b",
    "highscore": "\f17c",
    "horse": "\f17d",
    "hospital": "\f17e",
    "hotel": "\f17f",
    "house": "\f180",
    "html5": "\f181",
    "hunting": "\f182",
    "jewel": "\f183",
    "jumping": "\f184",
    "kissing": "\f185",
    "kitchen": "\f186",
    "lineracing": "\f187",
    "logic": "\f188",
    "love": "\f189",
    "magic": "\f18a",
    "mahjong": "\f18b",
    "makeover": "\f18c",
    "math": "\f18d",
    "memo": "\f18e",
    "mobile": "\f18f",
    "motocross": "\f190",
    "multiplayer": "\f191",
    "music": "\f192",
    "mystery": "\f193",
    "nail": "\f194",
    "offroad": "\f195",
    "panda": "\f196",
    "parking": "\f197",
    "party": "\f198",
    "piano": "\f199",
    "pizza": "\f19a",
    "platform": "\f19b",
    "premium": "\f19c",
    "princess": "\f19d",
    "puppy": "\f19e",
    "puzzle": "\f19f",
    "quiz": "\f1a0",
    "racing": "\f1a1",
    "restaurant": "\f1a2",
    "robot": "\f1a3",
    "roller": "\f1a4",
    "room": "\f1a5",
    "scary": "\f1a6",
    "school": "\f1a7",
    "shop": "\f1a8",
    "snail": "\f1a9",
    "soccer": "\f1aa",
    "social": "\f1ab",
    "spa": "\f1ac",
    "space": "\f1ad",
    "spelling": "\f1ae",
    "sportoutfit": "\f1af",
    "stickman": "\f1b0",
    "surgery": "\f1b1",
    "sushi": "\f1b2",
    "time": "\f1b3",
    "top100": "\f1b4",
    "typing": "\f1b5",
    "unicorn": "\f1b6",
    "valentines": "\f1b7",
    "war": "\f1b8",
    "water": "\f1b9",
    "wedding": "\f1ba",
    "winter": "\f1bb",
);

.flaticon-1001:before {
    content: map-get($flaticon-map, "1001");
}
.flaticon-10x10:before {
    content: map-get($flaticon-map, "10x10");
}
.flaticon-2d:before {
    content: map-get($flaticon-map, "2d");
}
.flaticon-2player:before {
    content: map-get($flaticon-map, "2player");
}
.flaticon-3d:before {
    content: map-get($flaticon-map, "3d");
}
.flaticon-accessories:before {
    content: map-get($flaticon-map, "accessories");
}
.flaticon-action:before {
    content: map-get($flaticon-map, "action");
}
.flaticon-addicting:before {
    content: map-get($flaticon-map, "addicting");
}
.flaticon-adventure:before {
    content: map-get($flaticon-map, "adventure");
}
.flaticon-aim:before {
    content: map-get($flaticon-map, "aim");
}
.flaticon-air-hockey:before {
    content: map-get($flaticon-map, "air-hockey");
}
.flaticon-alien:before {
    content: map-get($flaticon-map, "alien");
}
.flaticon-ambulance:before {
    content: map-get($flaticon-map, "ambulance");
}
.flaticon-american:before {
    content: map-get($flaticon-map, "american");
}
.flaticon-animal:before {
    content: map-get($flaticon-map, "animal");
}
.flaticon-anime:before {
    content: map-get($flaticon-map, "anime");
}
.flaticon-arcade:before {
    content: map-get($flaticon-map, "arcade");
}
.flaticon-archery:before {
    content: map-get($flaticon-map, "archery");
}
.flaticon-army:before {
    content: map-get($flaticon-map, "army");
}
.flaticon-art:before {
    content: map-get($flaticon-map, "art");
}
.flaticon-asteroids:before {
    content: map-get($flaticon-map, "asteroids");
}
.flaticon-avatar:before {
    content: map-get($flaticon-map, "avatar");
}
.flaticon-award:before {
    content: map-get($flaticon-map, "award");
}
.flaticon-baby:before {
    content: map-get($flaticon-map, "baby");
}
.flaticon-baking:before {
    content: map-get($flaticon-map, "baking");
}
.flaticon-ball:before {
    content: map-get($flaticon-map, "ball");
}
.flaticon-balloon:before {
    content: map-get($flaticon-map, "balloon");
}
.flaticon-bar:before {
    content: map-get($flaticon-map, "bar");
}
.flaticon-baseball:before {
    content: map-get($flaticon-map, "baseball");
}
.flaticon-basketball:before {
    content: map-get($flaticon-map, "basketball");
}
.flaticon-battle:before {
    content: map-get($flaticon-map, "battle");
}
.flaticon-bedroom:before {
    content: map-get($flaticon-map, "bedroom");
}
.flaticon-billiards:before {
    content: map-get($flaticon-map, "billiards");
}
.flaticon-bird:before {
    content: map-get($flaticon-map, "bird");
}
.flaticon-blood:before {
    content: map-get($flaticon-map, "blood");
}
.flaticon-board:before {
    content: map-get($flaticon-map, "board");
}
.flaticon-boardcard:before {
    content: map-get($flaticon-map, "boardcard");
}
.flaticon-boat:before {
    content: map-get($flaticon-map, "boat");
}
.flaticon-bomb:before {
    content: map-get($flaticon-map, "bomb");
}
.flaticon-bowling:before {
    content: map-get($flaticon-map, "bowling");
}
.flaticon-boxing:before {
    content: map-get($flaticon-map, "boxing");
}
.flaticon-boy:before {
    content: map-get($flaticon-map, "boy");
}
.flaticon-brain:before {
    content: map-get($flaticon-map, "brain");
}
.flaticon-bridge:before {
    content: map-get($flaticon-map, "bridge");
}
.flaticon-browser:before {
    content: map-get($flaticon-map, "browser");
}
.flaticon-bubble:before {
    content: map-get($flaticon-map, "bubble");
}
.flaticon-building:before {
    content: map-get($flaticon-map, "building");
}
.flaticon-bullet:before {
    content: map-get($flaticon-map, "bullet");
}
.flaticon-bunny:before {
    content: map-get($flaticon-map, "bunny");
}
.flaticon-business:before {
    content: map-get($flaticon-map, "business");
}
.flaticon-cafe:before {
    content: map-get($flaticon-map, "cafe");
}
.flaticon-cake:before {
    content: map-get($flaticon-map, "cake");
}
.flaticon-candy:before {
    content: map-get($flaticon-map, "candy");
}
.flaticon-cannon:before {
    content: map-get($flaticon-map, "cannon");
}
.flaticon-car:before {
    content: map-get($flaticon-map, "car");
}
.flaticon-carebears:before {
    content: map-get($flaticon-map, "carebears");
}
.flaticon-caring:before {
    content: map-get($flaticon-map, "caring");
}
.flaticon-cartoon:before {
    content: map-get($flaticon-map, "cartoon");
}
.flaticon-casino:before {
    content: map-get($flaticon-map, "casino");
}
.flaticon-casual:before {
    content: map-get($flaticon-map, "casual");
}
.flaticon-cat:before {
    content: map-get($flaticon-map, "cat");
}
.flaticon-chain:before {
    content: map-get($flaticon-map, "chain");
}
.flaticon-chicken:before {
    content: map-get($flaticon-map, "chicken");
}
.flaticon-christmas:before {
    content: map-get($flaticon-map, "christmas");
}
.flaticon-circus:before {
    content: map-get($flaticon-map, "circus");
}
.flaticon-classic:before {
    content: map-get($flaticon-map, "classic");
}
.flaticon-cleaning:before {
    content: map-get($flaticon-map, "cleaning");
}
.flaticon-clicking:before {
    content: map-get($flaticon-map, "clicking");
}
.flaticon-clothes:before {
    content: map-get($flaticon-map, "clothes");
}
.flaticon-coloredblocks:before {
    content: map-get($flaticon-map, "coloredblocks");
}
.flaticon-coloring:before {
    content: map-get($flaticon-map, "coloring");
}
.flaticon-concentration:before {
    content: map-get($flaticon-map, "concentration");
}
.flaticon-connect:before {
    content: map-get($flaticon-map, "connect");
}
.flaticon-cooking:before {
    content: map-get($flaticon-map, "cooking");
}
.flaticon-couple:before {
    content: map-get($flaticon-map, "couple");
}
.flaticon-craft:before {
    content: map-get($flaticon-map, "craft");
}
.flaticon-crash:before {
    content: map-get($flaticon-map, "crash");
}
.flaticon-crazy:before {
    content: map-get($flaticon-map, "crazy");
}
.flaticon-cupcake:before {
    content: map-get($flaticon-map, "cupcake");
}
.flaticon-cycling:before {
    content: map-get($flaticon-map, "cycling");
}
.flaticon-dance:before {
    content: map-get($flaticon-map, "dance");
}
.flaticon-darts:before {
    content: map-get($flaticon-map, "darts");
}
.flaticon-dating:before {
    content: map-get($flaticon-map, "dating");
}
.flaticon-decorating:before {
    content: map-get($flaticon-map, "decorating");
}
.flaticon-dentist:before {
    content: map-get($flaticon-map, "dentist");
}
.flaticon-doctor:before {
    content: map-get($flaticon-map, "doctor");
}
.flaticon-dog:before {
    content: map-get($flaticon-map, "dog");
}
.flaticon-doll:before {
    content: map-get($flaticon-map, "doll");
}
.flaticon-dollhouse:before {
    content: map-get($flaticon-map, "dollhouse");
}
.flaticon-dolphin:before {
    content: map-get($flaticon-map, "dolphin");
}
.flaticon-dragon:before {
    content: map-get($flaticon-map, "dragon");
}
.flaticon-drawing:before {
    content: map-get($flaticon-map, "drawing");
}
.flaticon-dress:before {
    content: map-get($flaticon-map, "dress");
}
.flaticon-drifting:before {
    content: map-get($flaticon-map, "drifting");
}
.flaticon-driving:before {
    content: map-get($flaticon-map, "driving");
}
.flaticon-easy:before {
    content: map-get($flaticon-map, "easy");
}
.flaticon-educational:before {
    content: map-get($flaticon-map, "educational");
}
.flaticon-emmas:before {
    content: map-get($flaticon-map, "emmas");
}
.flaticon-escaping:before {
    content: map-get($flaticon-map, "escaping");
}
.flaticon-farm:before {
    content: map-get($flaticon-map, "farm");
}
.flaticon-fashion:before {
    content: map-get($flaticon-map, "fashion");
}
.flaticon-fighting:before {
    content: map-get($flaticon-map, "fighting");
}
.flaticon-fish:before {
    content: map-get($flaticon-map, "fish");
}
.flaticon-fishing:before {
    content: map-get($flaticon-map, "fishing");
}
.flaticon-flash:before {
    content: map-get($flaticon-map, "flash");
}
.flaticon-flight:before {
    content: map-get($flaticon-map, "flight");
}
.flaticon-flip:before {
    content: map-get($flaticon-map, "flip");
}
.flaticon-flirting:before {
    content: map-get($flaticon-map, "flirting");
}
.flaticon-flower:before {
    content: map-get($flaticon-map, "flower");
}
.flaticon-flying:before {
    content: map-get($flaticon-map, "flying");
}
.flaticon-food:before {
    content: map-get($flaticon-map, "food");
}
.flaticon-footballmanagement:before {
    content: map-get($flaticon-map, "footballmanagement");
}
.flaticon-fps:before {
    content: map-get($flaticon-map, "fps");
}
.flaticon-fruit:before {
    content: map-get($flaticon-map, "fruit");
}
.flaticon-fun:before {
    content: map-get($flaticon-map, "fun");
}
.flaticon-games:before {
    content: map-get($flaticon-map, "games");
}
.flaticon-garden:before {
    content: map-get($flaticon-map, "garden");
}
.flaticon-girls:before {
    content: map-get($flaticon-map, "girls");
}
.flaticon-golf:before {
    content: map-get($flaticon-map, "golf");
}
.flaticon-guitar:before {
    content: map-get($flaticon-map, "guitar");
}
.flaticon-gun:before {
    content: map-get($flaticon-map, "gun");
}
.flaticon-hair:before {
    content: map-get($flaticon-map, "hair");
}
.flaticon-hamster:before {
    content: map-get($flaticon-map, "hamster");
}
.flaticon-highscore:before {
    content: map-get($flaticon-map, "highscore");
}
.flaticon-horse:before {
    content: map-get($flaticon-map, "horse");
}
.flaticon-hospital:before {
    content: map-get($flaticon-map, "hospital");
}
.flaticon-hotel:before {
    content: map-get($flaticon-map, "hotel");
}
.flaticon-house:before {
    content: map-get($flaticon-map, "house");
}
.flaticon-html5:before {
    content: map-get($flaticon-map, "html5");
}
.flaticon-hunting:before {
    content: map-get($flaticon-map, "hunting");
}
.flaticon-jewel:before {
    content: map-get($flaticon-map, "jewel");
}
.flaticon-jumping:before {
    content: map-get($flaticon-map, "jumping");
}
.flaticon-kissing:before {
    content: map-get($flaticon-map, "kissing");
}
.flaticon-kitchen:before {
    content: map-get($flaticon-map, "kitchen");
}
.flaticon-lineracing:before {
    content: map-get($flaticon-map, "lineracing");
}
.flaticon-logic:before {
    content: map-get($flaticon-map, "logic");
}
.flaticon-love:before {
    content: map-get($flaticon-map, "love");
}
.flaticon-magic:before {
    content: map-get($flaticon-map, "magic");
}
.flaticon-mahjong:before {
    content: map-get($flaticon-map, "mahjong");
}
.flaticon-makeover:before {
    content: map-get($flaticon-map, "makeover");
}
.flaticon-math:before {
    content: map-get($flaticon-map, "math");
}
.flaticon-memo:before {
    content: map-get($flaticon-map, "memo");
}
.flaticon-mobile:before {
    content: map-get($flaticon-map, "mobile");
}
.flaticon-motocross:before {
    content: map-get($flaticon-map, "motocross");
}
.flaticon-multiplayer:before {
    content: map-get($flaticon-map, "multiplayer");
}
.flaticon-music:before {
    content: map-get($flaticon-map, "music");
}
.flaticon-mystery:before {
    content: map-get($flaticon-map, "mystery");
}
.flaticon-nail:before {
    content: map-get($flaticon-map, "nail");
}
.flaticon-offroad:before {
    content: map-get($flaticon-map, "offroad");
}
.flaticon-panda:before {
    content: map-get($flaticon-map, "panda");
}
.flaticon-parking:before {
    content: map-get($flaticon-map, "parking");
}
.flaticon-party:before {
    content: map-get($flaticon-map, "party");
}
.flaticon-piano:before {
    content: map-get($flaticon-map, "piano");
}
.flaticon-pizza:before {
    content: map-get($flaticon-map, "pizza");
}
.flaticon-platform:before {
    content: map-get($flaticon-map, "platform");
}
.flaticon-premium:before {
    content: map-get($flaticon-map, "premium");
}
.flaticon-princess:before {
    content: map-get($flaticon-map, "princess");
}
.flaticon-puppy:before {
    content: map-get($flaticon-map, "puppy");
}
.flaticon-puzzle:before {
    content: map-get($flaticon-map, "puzzle");
}
.flaticon-quiz:before {
    content: map-get($flaticon-map, "quiz");
}
.flaticon-racing:before {
    content: map-get($flaticon-map, "racing");
}
.flaticon-restaurant:before {
    content: map-get($flaticon-map, "restaurant");
}
.flaticon-robot:before {
    content: map-get($flaticon-map, "robot");
}
.flaticon-roller:before {
    content: map-get($flaticon-map, "roller");
}
.flaticon-room:before {
    content: map-get($flaticon-map, "room");
}
.flaticon-scary:before {
    content: map-get($flaticon-map, "scary");
}
.flaticon-school:before {
    content: map-get($flaticon-map, "school");
}
.flaticon-shop:before {
    content: map-get($flaticon-map, "shop");
}
.flaticon-snail:before {
    content: map-get($flaticon-map, "snail");
}
.flaticon-soccer:before {
    content: map-get($flaticon-map, "soccer");
}
.flaticon-social:before {
    content: map-get($flaticon-map, "social");
}
.flaticon-spa:before {
    content: map-get($flaticon-map, "spa");
}
.flaticon-space:before {
    content: map-get($flaticon-map, "space");
}
.flaticon-spelling:before {
    content: map-get($flaticon-map, "spelling");
}
.flaticon-sportoutfit:before {
    content: map-get($flaticon-map, "sportoutfit");
}
.flaticon-stickman:before {
    content: map-get($flaticon-map, "stickman");
}
.flaticon-surgery:before {
    content: map-get($flaticon-map, "surgery");
}
.flaticon-sushi:before {
    content: map-get($flaticon-map, "sushi");
}
.flaticon-time:before {
    content: map-get($flaticon-map, "time");
}
.flaticon-top100:before {
    content: map-get($flaticon-map, "top100");
}
.flaticon-typing:before {
    content: map-get($flaticon-map, "typing");
}
.flaticon-unicorn:before {
    content: map-get($flaticon-map, "unicorn");
}
.flaticon-valentines:before {
    content: map-get($flaticon-map, "valentines");
}
.flaticon-war:before {
    content: map-get($flaticon-map, "war");
}
.flaticon-water:before {
    content: map-get($flaticon-map, "water");
}
.flaticon-wedding:before {
    content: map-get($flaticon-map, "wedding");
}
.flaticon-winter:before {
    content: map-get($flaticon-map, "winter");
}
