@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?e4f1c4ced46dda345790a55b8f6d65be") format("truetype"),
url("./flaticon.woff?e4f1c4ced46dda345790a55b8f6d65be") format("woff"),
url("./flaticon.woff2?e4f1c4ced46dda345790a55b8f6d65be") format("woff2"),
url("./flaticon.eot?e4f1c4ced46dda345790a55b8f6d65be#iefix") format("embedded-opentype"),
url("./flaticon.svg?e4f1c4ced46dda345790a55b8f6d65be#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-1001:before {
    content: "\f101";
}
.flaticon-10x10:before {
    content: "\f102";
}
.flaticon-1player:before {
    content: "\f103";
}
.flaticon-2d:before {
    content: "\f104";
}
.flaticon-2player:before {
    content: "\f105";
}
.flaticon-3d:before {
    content: "\f106";
}
.flaticon-accessories:before {
    content: "\f107";
}
.flaticon-action:before {
    content: "\f108";
}
.flaticon-addicting:before {
    content: "\f109";
}
.flaticon-adventure:before {
    content: "\f10a";
}
.flaticon-aim:before {
    content: "\f10b";
}
.flaticon-air-hockey:before {
    content: "\f10c";
}
.flaticon-alien:before {
    content: "\f10d";
}
.flaticon-ambulance:before {
    content: "\f10e";
}
.flaticon-american:before {
    content: "\f10f";
}
.flaticon-animal:before {
    content: "\f110";
}
.flaticon-anime:before {
    content: "\f111";
}
.flaticon-arcade:before {
    content: "\f112";
}
.flaticon-archery:before {
    content: "\f113";
}
.flaticon-army:before {
    content: "\f114";
}
.flaticon-art:before {
    content: "\f115";
}
.flaticon-asteroids:before {
    content: "\f116";
}
.flaticon-autumn:before {
    content: "\f117";
}
.flaticon-avatar:before {
    content: "\f118";
}
.flaticon-award:before {
    content: "\f119";
}
.flaticon-baby:before {
    content: "\f11a";
}
.flaticon-baking:before {
    content: "\f11b";
}
.flaticon-ball:before {
    content: "\f11c";
}
.flaticon-balloon:before {
    content: "\f11d";
}
.flaticon-bar:before {
    content: "\f11e";
}
.flaticon-baseball:before {
    content: "\f11f";
}
.flaticon-basketball:before {
    content: "\f120";
}
.flaticon-battle:before {
    content: "\f121";
}
.flaticon-bedroom:before {
    content: "\f122";
}
.flaticon-billiards:before {
    content: "\f123";
}
.flaticon-bingo:before {
    content: "\f124";
}
.flaticon-bird:before {
    content: "\f125";
}
.flaticon-birthday:before {
    content: "\f126";
}
.flaticon-blood:before {
    content: "\f127";
}
.flaticon-board:before {
    content: "\f128";
}
.flaticon-boardcard:before {
    content: "\f129";
}
.flaticon-boat:before {
    content: "\f12a";
}
.flaticon-bomb:before {
    content: "\f12b";
}
.flaticon-bowling:before {
    content: "\f12c";
}
.flaticon-boxing:before {
    content: "\f12d";
}
.flaticon-boy:before {
    content: "\f12e";
}
.flaticon-brain:before {
    content: "\f12f";
}
.flaticon-bridge:before {
    content: "\f130";
}
.flaticon-browser:before {
    content: "\f131";
}
.flaticon-bubble:before {
    content: "\f132";
}
.flaticon-building:before {
    content: "\f133";
}
.flaticon-bullet:before {
    content: "\f134";
}
.flaticon-bunny:before {
    content: "\f135";
}
.flaticon-bus:before {
    content: "\f136";
}
.flaticon-business:before {
    content: "\f137";
}
.flaticon-cafe:before {
    content: "\f138";
}
.flaticon-cake:before {
    content: "\f139";
}
.flaticon-candy:before {
    content: "\f13a";
}
.flaticon-cannon:before {
    content: "\f13b";
}
.flaticon-car:before {
    content: "\f13c";
}
.flaticon-carebears:before {
    content: "\f13d";
}
.flaticon-caring:before {
    content: "\f13e";
}
.flaticon-cartoon:before {
    content: "\f13f";
}
.flaticon-casino:before {
    content: "\f140";
}
.flaticon-castle:before {
    content: "\f141";
}
.flaticon-casual:before {
    content: "\f142";
}
.flaticon-cat:before {
    content: "\f143";
}
.flaticon-cave:before {
    content: "\f144";
}
.flaticon-celebrity:before {
    content: "\f145";
}
.flaticon-chain:before {
    content: "\f146";
}
.flaticon-checkers:before {
    content: "\f147";
}
.flaticon-cheese:before {
    content: "\f148";
}
.flaticon-chess:before {
    content: "\f149";
}
.flaticon-chicken:before {
    content: "\f14a";
}
.flaticon-chinese:before {
    content: "\f14b";
}
.flaticon-christmas:before {
    content: "\f14c";
}
.flaticon-circus:before {
    content: "\f14d";
}
.flaticon-city:before {
    content: "\f14e";
}
.flaticon-classic:before {
    content: "\f14f";
}
.flaticon-cleaning:before {
    content: "\f150";
}
.flaticon-clicking:before {
    content: "\f151";
}
.flaticon-clothes:before {
    content: "\f152";
}
.flaticon-coloredblocks:before {
    content: "\f153";
}
.flaticon-coloring:before {
    content: "\f154";
}
.flaticon-concentration:before {
    content: "\f155";
}
.flaticon-connect:before {
    content: "\f156";
}
.flaticon-cooking:before {
    content: "\f157";
}
.flaticon-couple:before {
    content: "\f158";
}
.flaticon-craft:before {
    content: "\f159";
}
.flaticon-crash:before {
    content: "\f15a";
}
.flaticon-crazy:before {
    content: "\f15b";
}
.flaticon-creation:before {
    content: "\f15c";
}
.flaticon-cricket:before {
    content: "\f15d";
}
.flaticon-crime:before {
    content: "\f15e";
}
.flaticon-crossword:before {
    content: "\f15f";
}
.flaticon-crown:before {
    content: "\f160";
}
.flaticon-cupcake:before {
    content: "\f161";
}
.flaticon-cut:before {
    content: "\f162";
}
.flaticon-cycling:before {
    content: "\f163";
}
.flaticon-dance:before {
    content: "\f164";
}
.flaticon-darts:before {
    content: "\f165";
}
.flaticon-dating:before {
    content: "\f166";
}
.flaticon-decorating:before {
    content: "\f167";
}
.flaticon-dentist:before {
    content: "\f168";
}
.flaticon-dinosaur:before {
    content: "\f169";
}
.flaticon-doctor:before {
    content: "\f16a";
}
.flaticon-dodgeball:before {
    content: "\f16b";
}
.flaticon-dog:before {
    content: "\f16c";
}
.flaticon-doll:before {
    content: "\f16d";
}
.flaticon-dollhouse:before {
    content: "\f16e";
}
.flaticon-dolphin:before {
    content: "\f16f";
}
.flaticon-dominoes:before {
    content: "\f170";
}
.flaticon-dragon:before {
    content: "\f171";
}
.flaticon-drawing:before {
    content: "\f172";
}
.flaticon-dress:before {
    content: "\f173";
}
.flaticon-drifting:before {
    content: "\f174";
}
.flaticon-driving:before {
    content: "\f175";
}
.flaticon-drum:before {
    content: "\f176";
}
.flaticon-duck:before {
    content: "\f177";
}
.flaticon-easter:before {
    content: "\f178";
}
.flaticon-easy:before {
    content: "\f179";
}
.flaticon-educational:before {
    content: "\f17a";
}
.flaticon-elevator:before {
    content: "\f17b";
}
.flaticon-emmas:before {
    content: "\f17c";
}
.flaticon-emoji:before {
    content: "\f17d";
}
.flaticon-empire:before {
    content: "\f17e";
}
.flaticon-escaping:before {
    content: "\f17f";
}
.flaticon-fairy:before {
    content: "\f180";
}
.flaticon-fancy:before {
    content: "\f181";
}
.flaticon-farm:before {
    content: "\f182";
}
.flaticon-fashion:before {
    content: "\f183";
}
.flaticon-fighting:before {
    content: "\f184";
}
.flaticon-fire:before {
    content: "\f185";
}
.flaticon-fish:before {
    content: "\f186";
}
.flaticon-fishing:before {
    content: "\f187";
}
.flaticon-flash:before {
    content: "\f188";
}
.flaticon-flight:before {
    content: "\f189";
}
.flaticon-flip:before {
    content: "\f18a";
}
.flaticon-flirting:before {
    content: "\f18b";
}
.flaticon-flower:before {
    content: "\f18c";
}
.flaticon-flying:before {
    content: "\f18d";
}
.flaticon-food:before {
    content: "\f18e";
}
.flaticon-foosball:before {
    content: "\f18f";
}
.flaticon-football:before {
    content: "\f190";
}
.flaticon-footballmanagement:before {
    content: "\f191";
}
.flaticon-fps:before {
    content: "\f192";
}
.flaticon-fruit:before {
    content: "\f193";
}
.flaticon-fun:before {
    content: "\f194";
}
.flaticon-games:before {
    content: "\f195";
}
.flaticon-garden:before {
    content: "\f196";
}
.flaticon-girls:before {
    content: "\f197";
}
.flaticon-golf:before {
    content: "\f198";
}
.flaticon-guitar:before {
    content: "\f199";
}
.flaticon-gun:before {
    content: "\f19a";
}
.flaticon-hair:before {
    content: "\f19b";
}
.flaticon-hamster:before {
    content: "\f19c";
}
.flaticon-helicopter:before {
    content: "\f19d";
}
.flaticon-helix:before {
    content: "\f19e";
}
.flaticon-highscore:before {
    content: "\f19f";
}
.flaticon-horse:before {
    content: "\f1a0";
}
.flaticon-hospital:before {
    content: "\f1a1";
}
.flaticon-hotel:before {
    content: "\f1a2";
}
.flaticon-house:before {
    content: "\f1a3";
}
.flaticon-html5:before {
    content: "\f1a4";
}
.flaticon-hunting:before {
    content: "\f1a5";
}
.flaticon-jewel:before {
    content: "\f1a6";
}
.flaticon-jumping:before {
    content: "\f1a7";
}
.flaticon-kissing:before {
    content: "\f1a8";
}
.flaticon-kitchen:before {
    content: "\f1a9";
}
.flaticon-lineracing:before {
    content: "\f1aa";
}
.flaticon-logic:before {
    content: "\f1ab";
}
.flaticon-love:before {
    content: "\f1ac";
}
.flaticon-magic:before {
    content: "\f1ad";
}
.flaticon-mahjong:before {
    content: "\f1ae";
}
.flaticon-makeover:before {
    content: "\f1af";
}
.flaticon-math:before {
    content: "\f1b0";
}
.flaticon-memo:before {
    content: "\f1b1";
}
.flaticon-mobile:before {
    content: "\f1b2";
}
.flaticon-motocross:before {
    content: "\f1b3";
}
.flaticon-multiplayer:before {
    content: "\f1b4";
}
.flaticon-music:before {
    content: "\f1b5";
}
.flaticon-mystery:before {
    content: "\f1b6";
}
.flaticon-nail:before {
    content: "\f1b7";
}
.flaticon-offroad:before {
    content: "\f1b8";
}
.flaticon-paintball:before {
    content: "\f1b9";
}
.flaticon-panda:before {
    content: "\f1ba";
}
.flaticon-parking:before {
    content: "\f1bb";
}
.flaticon-party:before {
    content: "\f1bc";
}
.flaticon-physics:before {
    content: "\f1bd";
}
.flaticon-piano:before {
    content: "\f1be";
}
.flaticon-pig:before {
    content: "\f1bf";
}
.flaticon-pinball:before {
    content: "\f1c0";
}
.flaticon-pirate:before {
    content: "\f1c1";
}
.flaticon-pixel:before {
    content: "\f1c2";
}
.flaticon-pizza:before {
    content: "\f1c3";
}
.flaticon-platform:before {
    content: "\f1c4";
}
.flaticon-police:before {
    content: "\f1c5";
}
.flaticon-premium:before {
    content: "\f1c6";
}
.flaticon-puppy:before {
    content: "\f1c7";
}
.flaticon-puzzle:before {
    content: "\f1c8";
}
.flaticon-quiz:before {
    content: "\f1c9";
}
.flaticon-racing:before {
    content: "\f1ca";
}
.flaticon-restaurant:before {
    content: "\f1cb";
}
.flaticon-robot:before {
    content: "\f1cc";
}
.flaticon-roller:before {
    content: "\f1cd";
}
.flaticon-room:before {
    content: "\f1ce";
}
.flaticon-scary:before {
    content: "\f1cf";
}
.flaticon-school:before {
    content: "\f1d0";
}
.flaticon-shop:before {
    content: "\f1d1";
}
.flaticon-snail:before {
    content: "\f1d2";
}
.flaticon-soccer:before {
    content: "\f1d3";
}
.flaticon-social:before {
    content: "\f1d4";
}
.flaticon-spa:before {
    content: "\f1d5";
}
.flaticon-space:before {
    content: "\f1d6";
}
.flaticon-spelling:before {
    content: "\f1d7";
}
.flaticon-sportoutfit:before {
    content: "\f1d8";
}
.flaticon-stickman:before {
    content: "\f1d9";
}
.flaticon-sudoku:before {
    content: "\f1da";
}
.flaticon-summer:before {
    content: "\f1db";
}
.flaticon-superhero:before {
    content: "\f1dc";
}
.flaticon-surfing:before {
    content: "\f1dd";
}
.flaticon-surgery:before {
    content: "\f1de";
}
.flaticon-survival:before {
    content: "\f1df";
}
.flaticon-sushi:before {
    content: "\f1e0";
}
.flaticon-tank:before {
    content: "\f1e1";
}
.flaticon-tattoo:before {
    content: "\f1e2";
}
.flaticon-taxi:before {
    content: "\f1e3";
}
.flaticon-tennis:before {
    content: "\f1e4";
}
.flaticon-thanksgiving:before {
    content: "\f1e5";
}
.flaticon-time:before {
    content: "\f1e6";
}
.flaticon-top100:before {
    content: "\f1e7";
}
.flaticon-typing:before {
    content: "\f1e8";
}
.flaticon-unicorn:before {
    content: "\f1e9";
}
.flaticon-upgrade:before {
    content: "\f1ea";
}
.flaticon-valentines:before {
    content: "\f1eb";
}
.flaticon-vampire:before {
    content: "\f1ec";
}
.flaticon-vet:before {
    content: "\f1ed";
}
.flaticon-videos:before {
    content: "\f1ee";
}
.flaticon-volleyball:before {
    content: "\f1ef";
}
.flaticon-voodoo:before {
    content: "\f1f0";
}
.flaticon-war:before {
    content: "\f1f1";
}
.flaticon-warrior:before {
    content: "\f1f2";
}
.flaticon-water:before {
    content: "\f1f3";
}
.flaticon-wedding:before {
    content: "\f1f4";
}
.flaticon-weird:before {
    content: "\f1f5";
}
.flaticon-what:before {
    content: "\f1f6";
}
.flaticon-winter:before {
    content: "\f1f7";
}
.flaticon-witch:before {
    content: "\f1f8";
}
.flaticon-world:before {
    content: "\f1f9";
}
.flaticon-worm:before {
    content: "\f1fa";
}
.flaticon-wreck:before {
    content: "\f1fb";
}
.flaticon-wrestling:before {
    content: "\f1fc";
}
.flaticon-zombie:before {
    content: "\f1fd";
}
.flaticon-zoo:before {
    content: "\f1fe";
}
